* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------
 Common styles
-------------- */
body {
  /* width: 100%; */
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  ;
}

.com-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.com-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* -------------
Header start
--------------- */
header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* ----------
  Nav Start 
------------*/
.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
  margin: 50px 0px 0px 228px;
  color: #131313;
}



/* --------------
  Menu bar start 
-----------------*/
.navbar {
  margin-top: 63px;
  margin-left: 670px;
}

.menu {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: #424242;
  padding: 10px;
}

.menu a:hover {
  background-color: #FF900E;
}

.header-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 25px;
}

.header-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 32px;
}

.btn-header {
  width: 180px;
  height: 64px;
  background: #FF900E;
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.imge-responsive {
  margin-bottom: 45px;
}

.imge-responsive img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/* -----------------------------------
Section - Team Information - Start
------------------------------------- */
.team-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin-bottom: 130px;
}

.team-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 85px;
}

/* Team Content star */
.team-content {
  margin-left: 73px;
  width: 530px;
}

.team-title {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
  margin-bottom: 24px;
}

.team-btn {
  width: 180px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #FF900E;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
}

/* ------------------------
  Section - Feature Start
-------------------------- */
.section-feature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}

.feature-content {
  margin-top: 54px;
}

.feature-title {
  font-weight: 700;
  font-size: 45px;
}

.feature-line {
  width: 468px;
  border-left: 4px solid #FF900E;
  padding-left: 21px;
  margin-bottom: 24px;
}

  {
  width: 586px;
}


.feature-box {
  width: 586px;
  height: 171px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 42px 30px 30px;
  margin-top: 30px;
}

.feature-box h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-pic img {
  border-radius: 8px;
  width: 84%;
  margin-left: 137px;
  border-radius: 8px;
  margin-top: -40px;
  /* ------- Negative Value !!!!!!!!!! ------ */
}

.feature-btn {
  margin-left: 30px;
  margin-top: -100px;
  height: 200px;
  width: 342px;
  background-color: #FF900E;
  color: white;
  font-weight: 700;
  font-size: 65px;
  border: none;
  border-radius: 8px;
}

/* -------------------
  Some facts start
-------------------- */
.some-facts-container {
  width: 1440px;
  margin: 0 auto;

}

.some-facts-content {

  margin-top: 130px;
}

.facts-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}

.facts-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.statistics-content {
  margin-top: 100px;
  width: 240px;
  height: 240px;

  padding-top: 45px;
  text-align: center;
  border: 1px solid #FF900E;
  border-radius: 8px;
  transition: background-color 2s ease-out;
}

.statistics-content:hover {
  background-color: rgb(137, 221, 137);
  color: white;
  cursor: pointer;
}

.stat-nbr {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: #424242;
  text-align: center;
}

.stat-p {
  font-weight: 600;
  font-size: 20px;
  color: #727272;

}

/* --------------------
 Our Sponspors Style
--------------------- */
.spon-containter {
  text-align: center;
  margin-top: 180px;
  width: 1440px;
}

.spon-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}

.spon-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* --------------
sponsors Logo
---------------- */
.spon-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.spon-list img {
  filter: grayscale(1);
}

/* --------------------
Bonus Section Style
-------------------- */
.update-container {
  margin-top: 130px;
}

.subs-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
  text-align: center;
}

.subs-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  text-align: center;
  margin-bottom: 60px;
}

.subcrib-container {
  width: 1440px;
  height: 200px;
  background-color: #727272;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  border-radius: 10px;
}

.subcrib-container input {
  margin-right: 50px;
  padding: 10px;
}

.subs-btn {
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}

/* -----------------------
Footer Section Start 
------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 1440px;
  height: 100px;
  background: #FFF4E7;
  border-radius: 8px;
  margin-bottom: 130px;
  padding-top: 42px;
  text-align: center;
}




/*---------------------
  Responsive - Mobile
--------------------- */
@media screen and (max-width: 480px) {
  body {
    /* background-color: blueviolet; */
  }

  .nav-container {
    flex-direction: column;
    margin-bottom: 3px;
  }

  .nav-title {
    margin: 10px auto;
    font-size: 16px;
  }

  .com-para {
    line-height: inherit;
  }

  .navbar {
    margin: 0px;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .menu a {
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #FF900E;
    color: white;
    font-size: 14px;
  }

  .header-title {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .header-para {
    font-size: 14px;
    line-height: inherit;
    margin-bottom: 5px;
  }

  .btn-header {
    width: 140px;
    border-radius: 7px;
    height: 34px;
    font-size: 16px;
    background-color: #FF900E;
    margin-bottom: 10px;
  }

  .imge-responsive {
    margin-bottom: 15px;
  }

  .imge-responsive img {
    margin: 0;
    padding: 0 10px;
  }

  /* Section - Team Information - Start */
  .team-container {
    flex-direction: column;
    margin-bottom: 3px;
  }

  .team-pics {
    margin-top: 5px;
  }

  .team-pics {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-content {
    width: auto;
    margin: 0;
    padding: 0 20px;
    margin: 5px 0 5px 0;
  }

  .team-title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .team-btn {
    margin-top: 10px;
  }


  /* Section - Feature - Responsive */
  .section-feature {
    display: flex;
    flex-direction: column;
  }

  .feature-container {
    flex-direction: column;
    width: auto;
  }

  .feature-content {
    margin-top: 30px;
  }

  .feature-title {
    font-weight: 700;
    font-size: 22px;
    margin-left: 104px;
  }

  .feature-title-para {
    padding: 0 130px;
  }

  .feature-box {
    /* width: 586px; */
    /* height: 171px; */
    box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
    border-radius: 8px;
    /* padding: 30px 42px 30px 30px; */
    margin-top: 0px;
    padding: 10px 130px;
  }

  .feature-pic img {
    border-radius: 8px;
    width: 80%;
    /* margin-left: 137px; */
    border-radius: 8px;
    margin-top: 0px;
  }

  .feature-btn {
    margin: 0 auto;
    margin: 5px 0px 0px 120px;
  }

  /* ---------------------
    Some facts responsive 
  ----------------------- */
  .facts-title {
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .facts-para {
    padding: 0 20px;
    margin-bottom: 10px;
  }



  /* statistics responsive */
  .statistics {
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }

  .statistics-content {
    margin-top: 15px;
    margin-left: 62px;
  }

  /* --------------------
    Spon list responsive  
    ---------------------*/
  .spon-containter {
    margin-top: 25px;
  }

  .spon-title {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .spon-para {
    padding: 0 10px;
  }

  .spon-list {
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
  }

  .spon-list img {
    width: 60%;
  }

  /* Bonus Section Responsive  */
  .update-container {
    margin-top: 25px;
  }
  .subs-title {
    font-size: 22px;
  }
  .subs-para {
    padding: 20px;
    margin-bottom: 10px;
  }
  
}